<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Search your favorite restaurant services in a few seconds.u">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#646464"/>
    <link rel="apple-touch-icon" href="./images/icons/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./images/icons/logo.png" type="image/x-icon">
    <title>Cloudy Spaces</title>
</head>
<body>
    <section class="skip-to-content">
        <a href="#" title='Skip to Content'>
            <img src="./images/arrow-skip.webp" alt="Skip to Content" width='34' height='34'>
        </a>
    </section>
    
    <header>
        <a href="#">
            <picture>
                <source type="image/webp" srcset="./images/icons/logo.webp">
                <source type="image/jpeg" srcset="./images/icons/logo.png">
                <img src="./images/icons/logo.png" alt="Company Logo" width='40px' height='40'>
             </picture>
        </a>
        <div id="hamburger">
            <a href=" " aria-label='hamburger'>☰</a>
        </div>
        <section class="drawer">
            <nav>
                <ul>
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="https://www.linkedin.com/in/dhafad/">Contact</a></li>
                </ul>
            </nav>
        </section>
        <h1>Cloudy Spaces</h1>
    </header>
    <main id='main-content'>
        
    </main>

    <footer>
        <p>©2020 Cloudy Spaces. All Rights Reserved</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
